*{
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
  font-size: medium;
  
}
.container{
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.container_1{
  width: 20rem;
  background-color: azure
}