*{
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
  font-size: medium;
  
}
.container{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  justify-content: center;
  gap: 1vw;
}
.container_1{
  justify-self: center;
  display: flex;
  flex-direction: row;
  width: 70vw;
  background-color: azure;
  gap: 2vw;
}
.btn{
  align-self: center;
  justify-self: center;
  height: 2vw;
  width: 20vw;
}
.barra{
  height: 1vw;
}