*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
body{
  background-color: black;
}
.titulo{
  font-size: 3rem;
  font-weight: bolder;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 1vw;
}
.container_1{
  justify-self: center;
  display: flex;
  flex-direction: row;
  width: 70vw;
  gap: 2vw;
  justify-items: center;
  justify-content: center;
}
.targeta{
  background-color: #11115c;
  border-radius: 30px;
  border-color: 5px solid blue;
}
.btn{
  color: #11115c;
  background-color: #8a8a94;
  border-color: #8d8d8db4;
  border-style: dashed;
  width: 40vw;
}
.barra{
  height: 1vw;
  width: 25vw;
  background-color: #8d8d8d;
  border-style: none;
  border-radius: 15px;
}
.nose{
  justify-self: center;
  width: 60vw;
  background-color: #11115c;
  border-radius: 25px;
}
.imgs{
  width: 40vw;
}
.peso1{
  font-size: 2rem;
}
.imc{
  font-size: 1rem;
}